<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/company.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Firmex</title>

</head>
<body>
{% block nav %}
<div class="nav">
    <div class="logo">
        <a href="/"><img src="../static/img/logo.png" alt="logo" class="company-logo"></a>
    </div>
            <a href="{{ url_for('category') }}">
                <button class="category">Kategorie</button>
            </a>
            <div class="searcher-container">
                <form action="{{ url_for('search_companies') }}" method="GET">
                    <input class="searcher-input" type="search" name="query" placeholder="Szukaj">
                    <button type="submit" class="search_button"><img src="../static/img/search.png"></button>
                </form>
            </div>
    <div class="account">
        <div class="account-info">
            {% if current_user.is_authenticated %}
            <span class="current-user" data-nickname="{{ current_user.nickName }}"> </span>
            {% endif %}
            <img src="../static/img/user.png" alt="user" class="account-icon">
        </div>
        <div id="account-dropdown" class="account-dropdown">
            <div class="dropdown-content">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="logout">Wyloguj</a>
                <a href="{{ url_for('account') }}" class="account-button">Konto</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="login">Zaloguj</a>
                <a href="{{ url_for('register') }}" class="register">Zarejestruj</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.account').click(function () {
            $('#account-dropdown').toggle();
        });
    });
</script>
{% endblock %}
{% block company_content %}
    <div class="login-content">
        <div class="company-information-container">
            <div class="company-little-square"><b>
                <p class="company-information-content"><img src="{{ company.image_path }}" alt="Company Logo"
                                                           class="firm-logo"> <br/>
                    {{ '%.1f' % (company.opinions / company.number_of_opinions) }}
                    {% set rating = company.opinions / company.number_of_opinions %}
                    {% set stars_count = rating|round|int %}
                    {% if rating >= 0 and rating <= 5 %}
                        {% for _ in range(stars_count) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% for _ in range(5 - stars_count) %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    {% endif %}

                   {{ company.number_of_opinions }} opinii</b></p>
            </div>
            <div class="title-and-description">
                <p class="description-content">
                    {{ company.description }}
                </p>

            </div>
            <div class="add-opinion">
                <button class="add-button-opinions"> Opinie</button>
                <a href="{{ url_for('add_opinion', company_id=company.id) }}"><button class="add-button">Dodaj opinię</button></a>

                <span class="add-button-opinions">Sortuj według</span>
                <select id="sort-select" class="sort">
                    <option value="date_asc">Data dodania (rosnąco)</option>
                    <option value="date_desc">Data dodania (malejąco)</option>
                    <option value="rating_asc">Ocena użytkowników (rosnąco)</option>
                    <option value="rating_desc">Ocena użytkowników (malejąco)</option>
                </select>
            </div>
            <div class="opinions-category">
                <button id="all-button" class="category-button">Wszystkie</button>
                <button id="positive-button" class="category-button">Pozytywne</button>
                <button id="negative-button" class="category-button">Negatywne</button>
                <button id="neutral-button" class="category-button">Neutralne</button>

            </div>

            <div class="opinions-container">
    <div class="opinion-field">
        {% for opinion in opinions %}
        <p class="opinion-content" data-category="{{ opinion.category }}" data-date="{{ opinion.date }}" data-value="{{ opinion.value }}">
            <img src="../static/img/account_profile.png">
            &#20; <b style="font-weight: bolder; font-size: larger">{{ opinion.userName }} &#20; Ocenił na &#20;
                        {% if opinion.value %}
                            {{ opinion.value }}
                            {% set stars_count = opinion.value|round|int %}
                            {% for _ in range(stars_count) %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% for _ in range(5 - stars_count) %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        {% endif %}
            &#20; &#20; &#20; {{ opinion.date }} </b>
            <br>
            {% if opinion.category == "pozytywna" %}
                <b style="color: green">{{ opinion.content }}</b>
            {% elif opinion.category == "neutralna" %}
                <b style="color: white">{{ opinion.content }}</b>
            {% elif opinion.category == "negatywna" %}
                <b style="color: red">{{ opinion.content }}</b>
            {% endif %}
        </p>
        {% endfor %}
    </div>
</div>
        </div>
    </div>
{% endblock %}
<div class="footer">
    <p class="footer-content">Footer</p>
</div>
<script>
 // Funkcja obsługująca kliknięcie przycisku "Wszystkie"
    document.getElementById("all-button").addEventListener("click", function() {
        // // Resetowanie kolorów wszystkich przycisków
        document.querySelectorAll(".category-button").forEach(function(button) {
            button.style.backgroundColor = "#2BB1E2";
            button.style.borderColor = "red";
        });
        // Ustawienie koloru aktywnego dla klikniętego przycisku
        document.getElementById("all-button").style.backgroundColor = "blue";

        // Wyświetlanie wszystkich opinii
        document.querySelectorAll(".opinion-content").forEach(function(opinion) {
            opinion.style.display = "block";
        });
    });

    // Funkcja obsługująca kliknięcie przycisku "Pozytywne"
    document.getElementById("positive-button").addEventListener("click", function() {
        // Resetowanie kolorów wszystkich przycisków
        document.querySelectorAll(".category-button").forEach(function(button) {
            button.style.backgroundColor = "#2BB1E2";
            button.style.borderColor = "transparent";
        });
        // Ustawienie koloru aktywnego dla klikniętego przycisku
        document.getElementById("positive-button").style.backgroundColor = "blue";

        // Wyświetlanie tylko opinii pozytywnych
        document.querySelectorAll(".opinion-content").forEach(function(opinion) {
            // Sprawdzenie, czy opinia ma kategorię "pozytywne"
            if (opinion.dataset.category === "pozytywna") {
                opinion.style.display = "block";
            } else {
                opinion.style.display = "none";
            }
        });
    });

    // Funkcja obsługująca kliknięcie przycisku "Negatywne"
    document.getElementById("negative-button").addEventListener("click", function() {
        // Resetowanie kolorów wszystkich przycisków
        document.querySelectorAll(".category-button").forEach(function(button) {
            button.style.backgroundColor = "#2BB1E2";
            button.style.borderColor = "transparent";
        });
        // Ustawienie koloru aktywnego dla klikniętego przycisku
        document.getElementById("negative-button").style.backgroundColor = "blue";

        // Wyświetlanie tylko opinii negatywnych
        document.querySelectorAll(".opinion-content").forEach(function(opinion) {
            // Sprawdzenie, czy opinia ma kategorię "negatywne"
            if (opinion.dataset.category === "negatywna") {
                opinion.style.display = "block";
            } else {
                opinion.style.display = "none";
            }
        });
    });

    // Funkcja obsługująca kliknięcie przycisku "Neutralne"
    document.getElementById("neutral-button").addEventListener("click", function() {
        // Resetowanie kolorów wszystkich przycisków
        document.querySelectorAll(".category-button").forEach(function(button) {
            button.style.backgroundColor = "#2BB1E2";
            button.style.borderColor = "transparent";
        });
        // Ustawienie koloru aktywnego dla klikniętego przycisku
        document.getElementById("neutral-button").style.backgroundColor = "blue";

        // Wyświetlanie tylko opinii neutralnych
        document.querySelectorAll(".opinion-content").forEach(function(opinion) {
            // Sprawdzenie, czy opinia ma kategorię "neutralne"
            if (opinion.dataset.category === "neutralna") {
                opinion.style.display = "block";
            } else {
                opinion.style.display = "none";
            }
        });
    });
</script>

<script>
    // Funkcja obsługująca sortowanie opinii
function sortOpinions(sortBy) {
  const opinionsContainer = document.querySelector(".opinions-container");
  const opinions = Array.from(document.querySelectorAll(".opinion-content"));

  opinions.sort(function(a, b) {
    const opinionA = a.dataset;
    const opinionB = b.dataset;

    if (sortBy === "date_asc") {
      return new Date(opinionA.date) - new Date(opinionB.date);
    } else if (sortBy === "date_desc") {
      return new Date(opinionB.date) - new Date(opinionA.date);
    } else if (sortBy === "rating_asc") {
      return opinionA.value - opinionB.value;
    } else if (sortBy === "rating_desc") {
      return opinionB.value - opinionA.value;
    }

    return 0;
  });

  opinionsContainer.innerHTML = "";
  opinions.forEach(function(opinion) {
    opinionsContainer.appendChild(opinion);
  });
}

// Funkcja obsługująca zmianę wybranej opcji sortowania
document.getElementById("sort-select").addEventListener("change", function() {
  const selectedOption = this.value;
  sortOpinions(selectedOption);
});

// Funkcja inicjalizująca sortowanie przy załadowaniu strony
window.addEventListener("DOMContentLoaded", function() {
  const selectedOption = document.getElementById("sort-select").value;
  sortOpinions(selectedOption);
});
</script>
<div class="footer">
    <p class="footer-content">©2023 Firmex, Projekt Python (PTN). Wszelkie prawa zastrzeżone.<a href="../../regulamin" target="_blank">Regulamin</a> </p>
</div>
</body>
</html>