<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Firmex</title>

</head>
<body>
{% block nav %}
<div class="logo">
    <a href="/"><img src="../static/img/logo.png" alt="logo" class="company-logo"></a>
</div>

<script>
    $(document).ready(function () {
        $('.account').click(function () {
            $('#account-dropdown').toggle();
        });
    });
</script>
{% endblock %}
  <div class="login-content">
    {% block content %}
      <h1 id="login-header">Login </h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email(class="form-control", placeholder="Email") }}
      {% for error in form.email.errors %}
        <p class="error-message">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password(class="form-control", placeholder="Hasło") }}
      {% for error in form.password.errors %}
        <p class="error-message">{{ error }}</p>
      {% endfor %}
    </div>
      <button type="submit" class="register_button">Zaloguj się</button>
      <a class="forget-password" id="link-forget-password" href="/forget_password"> Zapomniałeś hasła?</a>
      <a class="go-register" id="link- create-new-account" href="/register"> Załóż nowe konto!</a>
  </form>
{% endblock %}

  </div>
<div class="footer">
    <p class="footer-content">©2023 Firmex, Projekt Python (PTN). Wszelkie prawa zastrzeżone.<a href="regulamin" target="_blank">Regulamin</a> </p>
</div>
</body>
</html>