<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/styles/style.css">

    <link rel="stylesheet" href="../static/styles/account.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Firmex</title>

</head>
<body>
{% block nav %}
<div class="nav">
    <div class="logo">
        <a href="/"><img src="../static/img/logo.png" alt="logo" class="company-logo"></a>
    </div>
            <a href="{{ url_for('category') }}">
                <button class="category">Kategorie</button>
            </a>
            <div class="searcher-container">
                <form action="{{ url_for('search_companies') }}" method="GET">
                    <input class="searcher-input" type="search" name="query" placeholder="Szukaj">
                    <button type="submit" class="search_button"><img src="../../static/img/search.png"></button>
                </form>
            </div>
    <div class="account">
        <div class="account-info">
            {% if current_user.is_authenticated %}
            <span class="current-user" data-nickname="{{ current_user.nickName }}"> </span>
            {% endif %}
            <img src="../../static/img/user.png" alt="user" class="account-icon">
        </div>
        <div id="account-dropdown" class="account-dropdown">
            <div class="dropdown-content">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="logout">Wyloguj</a>
                <a href="{{ url_for('account') }}" class="account-button">Konto</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="login">Zaloguj</a>
                <a href="{{ url_for('register') }}" class="register">Zarejestruj</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.account').click(function () {
            $('#account-dropdown').toggle();
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="login-content">

    {% if opinions %}
        <h1><span class="typer"></span></h1>
        <ul class="opinions-list">
            {% for opinion in opinions %}
                <li>
                    <a href="{{ url_for('company', company_id=opinion.companyId) }}">  <p> Firma: {{ opinion.companyName }}  </p></a>
                    <p style="max-width: 1500px"><b style="color: coral">Treść: </b>{{ opinion.content }} </p>
                    <p style="width: 300px">Data: {{ opinion.date }}</p>
                    <p style="display: block; width: 150px;">Ocena: {{ opinion.value }} <br>
                    {% if opinion.value %}
                            {% set stars_count = opinion.value|round|int %}
                            {% for _ in range(stars_count) %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% for _ in range(5 - stars_count) %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p style="text-align: center">
                        {% if opinion.category == "pozytywna" %}
                        <b style="color: green">{{ opinion.category }}</b>
                        {% elif opinion.category == "neutralna" %}
                        <b style="color: white">{{ opinion.category }}</b>
                        {% elif opinion.category == "negatywna" %}
                        <b style="color: red">{{ opinion.category }}</b>
                        {% endif %}
                    </p>
                </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak opinii do wyświetlenia.</p>
    {% endif %}
        <div style="padding-top: 10px"><a href="{{ url_for('account') }}" class="account-button">Dane użytkownika</a>
        </div>
        <br>
        <div><a href="{{ url_for('last_searches') }}?userId={{ current_user.id }}" class="account-button">Twoje
            wyszukiwania</a></div>
    </div>
{% endblock %}
<div class="footer">
    <p class="footer-content"></p>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      let HeaderElement = document.querySelector(".typer");
      let Header = HeaderElement.dataset.Header;

      let typer = new Typed(HeaderElement, {
      strings: ["Moje" + " " + "opinie"],
      typeSpeed: 45,
      cursorChar: "_",
          showCursor: false,
    });
    setTimeout(function() {
      typer.cursor.classList.add("typer-cursor-hidden");
    }, 10000);
  });
</script>
</body>
</html>