.add-button-opinions{
    background-color: blue;
    border: lightgrey 2px solid;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 10px;
}
.add-button{
    background-color: #2BB1E2;
    border: lightgrey 2px solid;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 10px;
}
#all{
    background-color: blue;
}

.category-button{
    background-color: #2BB1E2;
    border: lightgrey 2px solid;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 10px;
}

.opinion-content{
    font-family: 'Unica One';
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #2BB1E2;
    padding: 5px 0px 15px 0px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: #cccccc;
    margin: 0;
}
.sort{
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 76px;
    color: #2BB1E2;
    height: auto;
}
.sort-title{
    background-color: blue;
    border: lightgrey 2px solid;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 10px;
}
#title {
    color: #2BB1E2 !important;
    font-size: 40px;
}
.company-little-square{
    color: #2BB1E2;
}
.point-title{
    color: white;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 76px;
      -webkit-text-stroke: 1px blue; /* Safari/Chrome */
  -moz-text-stroke: 1px blue; /* Firefox */
  -ms-text-stroke: 1px blue; /* Internet Explorer */
  text-stroke: 2px blue; /* standardowa składnia */
  color: transparent; /* aby ukryć oryginalny tekst */
  background-image: linear-gradient(to right, red, blue); /* gradient jako tło */
  -webkit-background-clip: text; /* Safari/Chrome */
}

.rateyo-container:hover .rateyo-selected,
.rateyo-container:hover .rateyo-hover {
  color: blue;
}

.category-title{
    color: #2BB1E2;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 76px;
}

.rateyo-selected {
  color: blue !important;
}

.rateyo-container {
  display: inline-block;
}

.rateyo-container .rateyo-empty {
  color: transparent;
    border: 1px solid white;
}

.rateyo-container .rateyo-selected {
  color: white;
}

.rateyo-container .rateyo-hover {
  color: white;
}

.rateyo-container .rateyo-rated {
  color: white;
}

.description-content {
    top: 165px;
    height: auto;
    padding: 40px;
    font-size: 20px;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
        background-color: #2BB1E2;
}