.add-button-opinions{
    background-color: blue;
    border: lightgrey 2px solid;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 10px;
}
.add-button{
    background-color: #2BB1E2;
    border: lightgrey 2px solid;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 10px;
}
#all{
    background-color: blue;
}

.category-button{
    background-color: #2BB1E2;
    border: lightgrey 2px solid;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 10px;
}

.opinion-content{
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 76px;
    color: white;
    margin: 0;
}
.sort{
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 76px;
    color: #2BB1E2;
}
.sort-title{
    color:lightgrey;
     font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 76px;
    margin: 0;
}
.point-title{
    color: white;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 76px;
}
.category-title{
    color: white;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 76px;
}
.rateyo-container {
  display: inline-block;
}

.rateyo-container .rateyo-empty {
  color: transparent;
    border: 1px solid white;
}

.rateyo-container .rateyo-selected {
  color: white;
}

.rateyo-container .rateyo-hover {
  color: white;
}

.rateyo-container .rateyo-rated {
  color: white;
}

